<ul class="genre-filter">
  <li>
    <button
      type="submit"
      name="genre"
      value="Adventure"
      class="genre-filter__btn"
    >
      Adventure
    </button>
  </li>
  <li>
    <button type="submit" name="genre" value="Crime" class="genre-filter__btn">
      Crime
    </button>
  </li>
  <li>
    <button
      type="submit"
      name="genre"
      value="Fantasy"
      class="genre-filter__btn"
    >
      Fantasy
    </button>
  </li>
  <li>
    <button
      type="submit"
      name="genre"
      value="Fiction"
      class="genre-filter__btn"
    >
      Fiction
    </button>
  </li>
  <li>
    <button
      type="submit"
      name="genre"
      value="Mythology"
      class="genre-filter__btn"
    >
      Mythology
    </button>
  </li>
  <li>
    <button
      type="submit"
      name="genre"
      value="Self Improvement"
      class="genre-filter__btn"
    >
      Self Improvement
    </button>
  </li>
</ul>
