<ul class="all-genre">
  <li>
    <button type="submit" name="genre" value="Adventure" class="genre-item">
      Adventure
    </button>
  </li>
  <li>
    <button type="submit" name="genre" value="Crime" class="genre-item">
      Crime
    </button>
  </li>
  <li>
    <button type="submit" name="genre" value="Fantasy" class="genre-item">
      Fantasy
    </button>
  </li>
  <li>
    <button type="submit" name="genre" value="Fiction" class="genre-item">
      Fiction
    </button>
  </li>
  <li>
    <button type="submit" name="genre" value="Mythology" class="genre-item">
      Mythology
    </button>
  </li>
  <li>
    <button
      type="submit"
      name="genre"
      value="Self Improvement"
      class="genre-item"
    >
      Self Improvement
    </button>
  </li>
</ul>
