<header>
  <nav class="navbar__wrapper">
    <div class="navbar__container">
      <div class="navbar__logo">
        <img
          src="/assets/books_review_icon.png"
          alt="Website logo"
          class="navbar__logo-img"
        />
      </div>

      <ul class="navbar__menu">
        <li class="navbar__menu-item">
          <a href="/" class="navbar__menu-link">Home</a>
        </li>

        <li class="navbar__menu-item">
          <a href="/books" class="navbar__menu-link">Books</a>
        </li>

        <li class="navbar__menu-item">
          <form action="/logout" class="navbar__logout-form" method="GET">
            <button type="submit" class="navbar__logout-btn">Logout</button>
          </form>
        </li>
      </ul>
    </div>
  </nav>
</header>
