<div class="hero">
  <h1 class="hero__title">Welocome <%= user %>!</h1>
  <p class="hero__description">
    This site helps you keep track of books you've read. Log each book, jot down
    your thoughts, and organize your personal reading journey by genre. Simple,
    clean, and built for readers who love to reflect on what they've finished.
  </p>
</div>
