/* GLOBAL */
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #eeeeee;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 50px;
  flex: 1;
}

.book-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-items: center;
}

header,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eeeeee;
}

header {
  width: 100%;
}

footer {
  padding: 20px;
  background-color: #393e46;
}

h2,
h3 {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1px;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  transition: all 0.3s;
  border: none;
}

button:hover {
  transform: scale(1.05);
}

/* HEADER */
/* NAVBAR */
.navbar__wrapper {
  box-sizing: border-box;
  background-color: #393e46;
  padding: 0.5rem 0;
  width: 100%;
  z-index: 1;
}

.navbar--sticky {
  position: fixed;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1024px;
}

.navbar__logo {
  align-self: center;
  width: 50px;
  height: 50px;
}

.navbar__logo-img {
  width: 100%;
  height: 100%;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;
}

.navbar__menu-item {
  transition: all 0.3s ease;
}

.navbar__menu-item:hover {
  font-weight: 600;
}

.navbar__menu-link {
  text-decoration: none;
  color: #ffffff;
}

/* LOGOUT */
.navbar__logout-btn {
  color: red;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 400;
  padding: 5px;
}

/* BOOKS TOOLBAR */
.read-books__heading {
  align-self: flex-start;
  text-transform: capitalize;
  color: #393e46;
  font-size: 1.5rem;
  font-weight: 600;
}

.read-books__toolbar {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0px #7a7a7a;
  align-items: center;
  width: 100%;
  margin: 2rem;
  padding: 0.5rem 1rem;
  background-color: #7a7a7a;
}

/* SEARCH */
.read-books__toolbar-search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.read-books__toolbar-search-input {
  font-size: 1rem;
  padding: 5px;
  width: 100%;
}

.read-books__toolbar-search-btn {
  background-color: transparent;
}

/* GENRE */
.read-books__toolbar-genre-label {
  color: #ffffff;
  font-weight: 500;
}

.read-books__toolbar-genre-form {
  display: none;
  position: absolute;
  background-color: #222831;
  backdrop-filter: blur(2px);
  padding: 10px;
  border: 1px solid #ffffff;
  z-index: 2;
}

.read-books__toolbar-genre:hover .read-books__toolbar-genre-form {
  display: block;
}

.genre-filter:hover {
  font-size: 1.2rem;
  font-weight: 500;
}

.genre-filter {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  padding: 0;
  gap: 10px;
}

.genre-filter__btn {
  background-color: transparent;
  color: #ffffff;
  font-size: 1rem;
}

.genre-filter__btn:hover {
  transform: scale(1.05);
}

/* SORT */
.read-books__toolbar-sort-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.85rem;
}

.read-books__toolbar-sort-label {
  color: #ffffff;
  font-weight: 500;
}

.read-books__toolbar-sort-select {
  padding: 0.35rem;
  border: 1px solid #7a7a7a;
}

/* ADD FORM BUTTON */
.read-books__toolbar-add-btn {
  padding: 0.5rem 0.85rem;
  background-color: transparent;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 999px;
  cursor: pointer;
}

.read-books__toolbar-add-btn:hover {
  background-color: #0056b3;
}

/* HERO */
.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: cover no-repeat center url('/assets/books-picture.jpg'); */
}

.hero__title {
  flex-basis: 50%;
  flex-shrink: 0;
  align-content: end;
  font-size: 2rem;
  letter-spacing: 1.5px;
  text-transform: capitalize;
}

.hero__description {
  text-align: center;
  padding: 2rem;
  width: 60%;
  flex-basis: 50%;
  flex-shrink: 1;
  font-size: 1rem;
  letter-spacing: 0.6px;
  line-height: 1.5;
}

/* ADD BOOK FORM */
.book-form {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  max-width: 800px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 1rem;
}

.book-form__title {
  text-align: center;
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
}

.book-form__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.6rem 1rem;
}

.book-form__group {
  display: flex;
  flex-direction: column;
}

.book-form__group--full {
  margin-top: 0.5rem;
}

.book-form__label {
  margin-bottom: 0.1rem;
  font-weight: 500;
}

.book-form__input,
.book-form__textarea {
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  line-height: 1.5;
}

.book-form__textarea {
  resize: vertical;
  min-height: 100px;
}

.book-form__submit-btn {
  width: 100%;
  padding: 0.4rem;
  margin-top: 0.8rem;
  color: #ffffff;
  background-color: #4caf50;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.85rem;
}

.book-form__submit-btn:hover {
  background-color: #3d8d41;
}

.book-form__close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  color: #ffffff;
  background-color: #ff3535;
  font-weight: 400;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.book-form__close-btn:hover {
  background-color: #c20000;
}

/* OVERLAY BACKGROUND */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  backdrop-filter: blur(10px);
}

/* HIDE OR UNHIDE FORM */
.hidden {
  display: none;
  transition: all 0.3s ease-in-out;
}

/* BOOK CONTENT */
.book-card {
  display: grid;
  grid-template-columns: 40px 155px 193px;
  grid-template-rows: 35px 35px 35px 210px 70px 70px 180px;
  background-color: #eeeeee;
  gap: 1px;
  color: #eeeeee;
}

.book-card > * {
  padding: 10px;
  background-color: #222831;
}

.book-card p:not(.book-card__author, .book-card__genre) {
  font-family: 'Lexend', sans-serif;
  font-weight: 200;
  font-size: 14px;
  padding: 10px 0;
  line-height: 1.5;
}

.book-card__read-at {
  grid-column: 1/3;
  grid-row: 1;
  color: #222831;
  padding-left: 0;
  font-weight: 600;
  background-color: transparent;
}

.book-card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  padding: 0;
  background-color: transparent;
}

.book-card__edit-btn,
.book-card__delete-btn {
  font-size: 0.85rem;
  font-weight: 500;
  height: 80%;
}

.book-card__edit-btn {
  background-color: #4caf50;
  color: #ffffff;
  border-radius: 999px;
  padding: 0 0.7rem;
}

.book-card__delete-btn {
  background-color: red;
  color: #ffffff;
  border-radius: 999px;
  padding: 0 0.6rem;
}

.book-card__genre {
  writing-mode: vertical-lr;
  text-align: end;
  justify-self: center;
  grid-column: 1;
  grid-row: 2/5;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  width: 20px;
}

.book-card__author {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  grid-column: 2/4;
  grid-row: 2;
  text-align: end;
  align-content: center;
}

.book-card__title {
  grid-column: 2/4;
  grid-row: 3;
  text-align: start;
  align-content: center;
}

.book-card__cover {
  grid-column: 2;
  grid-row: 4;
  width: 147px;
  height: 202px;
  padding: 4px;
}

.book-card__gap-right {
  grid-column: 3;
  grid-row: 4;
}

.book-card__setting {
  grid-column: 2;
  grid-row: 5;
}

.book-card__spacer-side {
  grid-column: 1;
  grid-row: 5/8;
}

.book-card__readability {
  grid-column: 3;
  grid-row: 5;
}

.book-card__keywords {
  grid-column: 2/4;
  grid-row: 6;
}

.book-card__summary {
  grid-column: 2/4;
  grid-row: 7;
}

.book-list--empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  letter-spacing: 1px;
  height: 20vh;
}

/* LOGIN PAGE */
.login,
.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.login {
  height: 50vh;
  justify-content: space-evenly;
  width: 400px;
}

.login__greeting {
  text-align: center;
}

.login__form {
  width: 400px;
}

.login__field {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.login__label {
  flex: 1;
  max-width: 100px;
}

.login__input {
  flex: 3;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.login__btn {
  background-color: #4caf50;
  border: none;
  border-radius: 999px;
  padding: 8px 15px;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
}

.login__error {
  color: red;
}

/* AUTH REQIRED*/
.auth-required {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.auth-required__links {
  display: flex;
  gap: 1rem;
}

/* SIGN UP */
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.signup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  width: 400px;
}

.signup__field {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.signup__label {
  flex: 2;
  max-width: 150px;
}

.signup__input {
  flex: 3;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.signup__btn {
  background-color: #0056b3;
  border: none;
  border-radius: 999px;
  padding: 8px 15px;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
}

/* NOT FOUND */
.not-found {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

/* RESPONSIVE DISPLAY */
@media (min-width: 2000px) {
  .book-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 2500px) {
  .book-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1300px) {
  .book-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 920px) {
  .book-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .hero__title {
    flex-basis: 40%;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
  }
  .hero__description {
    padding: 1rem;
    width: 60%;
    font-size: 0.8rem;
    letter-spacing: 0.6px;
    line-height: 1.5;
  }
  .navbar__item--genre,
  .navbar__item--add-book {
    display: none;
  }

  .navbar__item--dropdown {
    display: block;
  }
  .book-form__grid {
    grid-template-columns: 1fr;
  }
  .book-form__group {
    width: auto;
  }
}

@media (max-width: 500px) {
  .navbar__item--dropdown {
    padding: 0;
    padding-right: 20px;
  }

  .book-list {
    padding: 0px;
  }
  h2,
  h3 {
    font-size: 10px;
    letter-spacing: 1px;
  }
  .book-card {
    grid-template-columns: 30px 145px 183px;
    grid-template-rows: 35px 35px 210px 70px 70px 180px;
    gap: 1px;
  }
  .book-card p:not(.book-card__author, .book-card__genre) {
    font-size: 12px;
  }
  .book-card__cover {
    width: 137px;
  }
  .book-card__genre {
    font-size: 10px;
    width: 10px;
  }
}
