<div class="login">
  <h1>Login</h1>
  <form action="/login" method="POST" class="login-form">
    <div>
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        autocomplete="username"
        required
      />
    </div>

    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
    </div>

    <% if (error) { %>
    <p style="color: red"><%= error %></p>
    <% } %>

    <button type="submit">Login</button>
  </form>
</div>
