<div class="auth-required">
  <h1>Restricted Access</h1>
  <p>To access this page, you have to login or make an account first.</p>

  <div class="auth-required__links">
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
  </div>
</div>
